/* latin-ext */
@font-face {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    src: local('Libre Baskerville'), local('LibreBaskerville-Regular'), url(https://fonts.gstatic.com/s/librebaskerville/v4/pR0sBQVcY0JZc_ciXjFsKwHlCYWexZJCPRz1QQ0uKVU.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    src: local('Libre Baskerville'), local('LibreBaskerville-Regular'), url(https://fonts.gstatic.com/s/librebaskerville/v4/pR0sBQVcY0JZc_ciXjFsK6Ucnt8gjcHpqyffjHeZWDA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body {

}

.top-bar {
    background: #eee;
    font-size: 12px;
    padding: 5px 0;
}

.input-form {
    margin-top:1em;
}

.viewer {
    font-size: 14px;
    font-family: 'Libre Baskerville', georgia;
    line-height: 23px;
    /*text-align: justify;*/
    word-spacing: 4px;
    /*background: rgb(243, 239, 219);*/
    color: #4e4205;
    color: #000;
}

.option-container {
    margin-top:1em;
}

div > span {
    /*padding-bottom: 3px;*/
    /*border-bottom: 1px solid #ddd;*/
}

.light { color: #aaa; }

.alt-phrase {
    background: #e8f7ec;
    /*border-bottom: 1px solid #ddd;*/
}

.marked-sentence span+.phrase {
    /*border-left: 5px solid #e4c19c;*/
    border-left: 5px solid #9cc6e4;
    padding-left: 5px;
}


.fake-page {
    visibility: hidden;
}

.page {
    max-width: 700px;
    column-count: 2;
    column-gap: 40px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    padding-top: 20px;
    overflow: hidden;
}

.page-footer {
    max-width: 700px;
    text-align: center;
    margin-bottom: 20px;
    color: #aaa;
    page-break-after:always;
}

.page-footer a {
    color: #aaa;
    text-decoration: none;
}

.page:last-child {
    border-bottom: 0;
    margin-bottom: 0;
}